Repository pennylane-hq/cfonb: changes, and which pre-commit hooks are due for each by the changed paths.
All: do_not_commit, rubocop, ruboclean, ruby, prettier, prettier-json, prettier-yaml, prettier-mdx, whitespaces, license_checks

do_not_commit:
  name: Break on DO NOT COMMIT comment
  language: pygrep
  entry: (?i)(NOT.{,3}COMMIT)

rubocop:
  name: Rubocop
  language: system
  entry: bash -c 'bundle exec rubocop ${RUBOCOP_OPTIONS:---autocorrect} "$@"' --
  require_serial: true
  args:
  - --color
  - --server
  - --config=.rubocop.yml
  - --fail-level=convention

ruboclean:
  name: Ruboclean
  language: system
  entry: bundle exec ruboclean
  args:
  - --silent
  - --preserve-comments

ruby:
  name: Valid ruby syntax
  language: system
  entry: ruby -c

prettier:
  name: Prettier
  language: system
  entry: npx prettier --write

prettier-json:
  name: Prettier JSON
  language: system
  entry: npx prettier --parser json --write

prettier-yaml:
  name: Prettier YAML
  language: system
  entry: npx prettier --parser yaml --write

prettier-mdx:
  name: Prettier MDX
  language: system
  entry: npx prettier --parser mdx --write

whitespaces:
  name: No non-breaking spaces
  language: pygrep
  entry: \\u00A0

license_checks:
  name: License checks
  language: system
  entry: .pre-commit/check_license.sh
  pass_filenames: false

Update CODEOWNERS and remove duplicates
  .github/.github/CODEOWNERS
  .github/.github/ISSUE_TEMPLATE/bug_report.md
  .github/.github/pull_request_template.md
  .github/.github/workflows/pre-commit.yml
  .github/CODEOWNERS
Due: do_not_commit, prettier-yaml, prettier-mdx, whitespaces

Removing npm install in CI
  .github/workflows/pre-commit.yml
Due: do_not_commit, prettier-yaml, whitespaces

Remove Python
  .github/workflows/pre-commit.yml
Due: do_not_commit, prettier-yaml, whitespaces

Reintroduce Python for pre-commit
  .github/workflows/pre-commit.yml
  .tool-versions
Due: do_not_commit, prettier-yaml, whitespaces

Reintroduce Rspec cops removed, add dev dependencies to gemspec, add rubocop-rspec
  .rubocop.yml
  Gemfile
  Gemfile.lock
  cfonb.gemspec
Due: do_not_commit, rubocop, ruboclean, whitespaces

Adding Ruby in CI setup
  .github/workflows/pre-commit.yml
Due: do_not_commit, prettier-yaml, whitespaces

Run rspec in CI
  .github/workflows/pre-commit.yml
Due: do_not_commit, prettier-yaml, whitespaces

Remove useless pre-commit step
  .pre-commit-config.yaml
Due: prettier-yaml

[Security] Repository hardening (#10)
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  .pre-commit/check_license.sh
  .rubocop.yml
  .tool-versions
  Gemfile
  Gemfile.lock
  cfonb.gemspec
  doc/dependency_decisions.yml
  lib/cfonb.rb
  lib/cfonb/line_parser/base.rb
  lib/cfonb/line_parser/new_balance.rb
  lib/cfonb/line_parser/operation.rb
  lib/cfonb/line_parser/operation_detail.rb
  lib/cfonb/line_parser/previous_balance.rb
  lib/cfonb/operation_detail/ref.rb
  lib/cfonb/parser.rb
  lib/cfonb/statement.rb
  spec/cfonb/line_parser/new_balance_spec.rb
  spec/cfonb/line_parser/operation_detail_spec.rb
  spec/cfonb/line_parser/operation_spec.rb
  spec/cfonb/line_parser/previous_balance_spec.rb
  spec/cfonb/operation_spec.rb
  spec/cfonb/parser_spec.rb
  spec/cfonb/statement_spec.rb
Due: do_not_commit, rubocop, ruboclean, ruby, prettier-yaml, prettier-mdx, whitespaces, license_checks

do not make assumptions on fee signs
  lib/cfonb/operation_detail/fee.rb
  spec/cfonb/operation_spec.rb
Due: do_not_commit, rubocop, ruby, whitespaces

bump gem version
  cfonb.gemspec
Due: do_not_commit, rubocop, whitespaces

do not make assumptions on fee signs (#11)
  cfonb.gemspec
  lib/cfonb/operation_detail/fee.rb
  spec/cfonb/operation_spec.rb
Due: do_not_commit, rubocop, ruby, whitespaces

Add `exchange_rate` to operation
  cfonb.gemspec
  lib/cfonb/operation_detail/mmo.rb
  spec/cfonb/operation_spec.rb
  spec/cfonb/parser_spec.rb
Due: do_not_commit, rubocop, ruby, whitespaces

Add `exchange_rate` to operation
  lib/cfonb/operation_detail/mmo.rb
Due: do_not_commit, rubocop, ruby, whitespaces

Fix code and specs
  lib/cfonb/operation_detail/mmo.rb
  spec/cfonb/operation_spec.rb
Due: do_not_commit, rubocop, ruby, whitespaces

Update README.md
  README.md
Due: prettier-mdx, whitespaces

Update README.md (#13)
  README.md
Due: prettier-mdx, whitespaces

Add `exchange_rate_scale`
  lib/cfonb/operation_detail/mmo.rb
Due: do_not_commit, rubocop, ruby, whitespaces

Add `exchange_rate` to operation (#12)
  cfonb.gemspec
  lib/cfonb/operation_detail/mmo.rb
  spec/cfonb/operation_spec.rb
  spec/cfonb/parser_spec.rb
Due: do_not_commit, rubocop, ruby, whitespaces

FIx `exchange_rate` when empty string
  lib/cfonb/operation_detail/mmo.rb
Due: do_not_commit, rubocop, ruby, whitespaces

Add specs
  lib/cfonb/operation_detail/mmo.rb
  spec/cfonb/operation_spec.rb
Due: do_not_commit, rubocop, ruby, whitespaces

FIx `exchange_rate` when empty string (#14)
  lib/cfonb/operation_detail/mmo.rb
  spec/cfonb/operation_spec.rb
Due: do_not_commit, rubocop, ruby, whitespaces

bump version
  cfonb.gemspec
Due: do_not_commit, rubocop, whitespaces

Update README.md (#15)
  README.md
Due: prettier-mdx, whitespaces

add NPO IBE and NBU operations
  .tool-versions
  Gemfile
  Gemfile.lock
  README.md
  lib/cfonb.rb
  lib/cfonb/operation_detail/ibe.rb
  lib/cfonb/operation_detail/nbu.rb
  lib/cfonb/operation_detail/npo.rb
  spec/cfonb/operation_spec.rb
Due: do_not_commit, rubocop, ruby, prettier-mdx, whitespaces

Add IPY operation detail
  .ruby-version
  Gemfile
  Gemfile.lock
  README.md
  lib/cfonb.rb
  lib/cfonb/operation_detail/ipy.rb
  spec/cfonb/operation_spec.rb
Due: do_not_commit, rubocop, ruby, prettier-mdx, whitespaces

Add 3.3.5 ruby version in tool-versions
  .tool-versions
Due: do_not_commit, whitespaces

Add granularity to Operation details
  cfonb.gemspec
  lib/cfonb/operation_detail/lc2.rb
  lib/cfonb/operation_detail/lcc.rb
  lib/cfonb/operation_detail/lcs.rb
  lib/cfonb/operation_detail/lib.rb
  spec/cfonb/operation_spec.rb
  spec/cfonb/parser_spec.rb
Due: do_not_commit, rubocop, ruby, whitespaces

Fix missing versioning specification
  cfonb.gemspec
Due: do_not_commit, rubocop, whitespaces

Fix missing ruby upgrade ion tool versions
  .tool-versions
Due: do_not_commit, whitespaces

prettier
  .tool-versions
  README.md
Due: do_not_commit, prettier-mdx, whitespaces

Update README.md (#20)
  .tool-versions
  README.md
Due: do_not_commit, prettier-mdx, whitespaces

add NPO IBE and NBU operations (#21)
  .tool-versions
  Gemfile
  Gemfile.lock
  README.md
  lib/cfonb.rb
  lib/cfonb/operation_detail/ibe.rb
  lib/cfonb/operation_detail/nbu.rb
  lib/cfonb/operation_detail/npo.rb
  spec/cfonb/operation_spec.rb
Due: do_not_commit, rubocop, ruby, prettier-mdx, whitespaces

Relax Ruby version constraint
  Gemfile
  cfonb.gemspec
Due: do_not_commit, rubocop, whitespaces

Create a .gitignore file and remove corresponding files from the cache
  .gitignore
  Gemfile.lock
Due: do_not_commit, whitespaces

disable some error prone rubocop suggestions + some adjustments
  .ruby-version
  .tool-versions
  lib/cfonb/line_parser/base.rb
  lib/cfonb/line_parser/operation.rb
  spec/cfonb/operation_spec.rb
Due: do_not_commit, rubocop, ruby, whitespaces

Add a Base class to all OperationDetails classes to automate the detail_code value setting
  README.md
  lib/cfonb.rb
  lib/cfonb/line_parser/operation_details.rb
  lib/cfonb/operation.rb
  lib/cfonb/operation_details.rb
  lib/cfonb/operation_details/base.rb
  lib/cfonb/operation_details/fee.rb
  lib/cfonb/operation_details/ibe.rb
  lib/cfonb/operation_details/ipy.rb
  lib/cfonb/operation_details/lc2.rb
  lib/cfonb/operation_details/lcc.rb
  lib/cfonb/operation_details/lcs.rb
  lib/cfonb/operation_details/lib.rb
  lib/cfonb/operation_details/mmo.rb
  lib/cfonb/operation_details/nbe.rb
  lib/cfonb/operation_details/nbu.rb
  lib/cfonb/operation_details/npo.rb
  lib/cfonb/operation_details/npy.rb
  lib/cfonb/operation_details/rcn.rb
  lib/cfonb/operation_details/ref.rb
  spec/cfonb/line_parser/operation_details_spec.rb
Due: do_not_commit, rubocop, ruby, prettier-mdx, whitespaces

Path conditions:
  do_not_commit: any file but: (?x)( .pre-commit-config.yaml| README.md)
  rubocop: any of: (?x)( \.(rb|rake|jbuilder|gemspec)$| Gemfile$| Rakefile| .irbrc$)
  ruboclean: any of: ^\.rubocop.*\.yml$
  ruby: any of: \.rb$, but not: lib/templates/rspec/
  prettier: any of: \.(js|jsx|ts|tsx|mjs)$
  prettier-json: any of: \.json$
  prettier-yaml: any of: \.ya?ml$, but not: ^\.rubocop\.yml
  prettier-mdx: any of: \.mdx?$
  whitespaces: any file but: (?x)^( \.yarn/releases/| \.pre-commit-config\.yaml)
  license_checks: any of: ^doc/dependency_decisions\.yml$
